Package: me.pr0crustes.colorbook
Name: ColorBook
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Change the blue boring facebook color!
Maintainer: pr0crustes
Author: pr0crustes
Section: Tweaks
Depiction: https://pr0crustes.github.io/repo/depictions/?p=me.pr0crustes.colorbook
